*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    font-size: 35px;
    color: white;
    height: 150px;
    
}

.input-group{
    top: -80px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}


.list-group{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}


.btnX{
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    padding: 0px 10px;
    
}


.list-group-item:hover{
    background-color: #CFE2FF
}


.checked{
    background-color: rgb(138, 136, 136);
    text-decoration: line-through;

}